<%-include ('partials/animes_header')%>
<div class="container">
    <div class="anime">
        <h1 class="anime-name text-white d-block text-center"><%=animeTitle%></h1>
    </div>
    <div class="anime-name">
        <div class="anime-img text-center">
            <img src="<%=animePoster%>" style="width:200px;">
        </div>
        <div class="synopsis">
            <p class="text-white"><%=animeSynopsis%></p>
        </div>
    </div>
</div>



<%-include ('partials/animes_footer')%>